@font-face {
    font-family: font;
    src: url('/fonts/DMSans.ttf');
}

:root {
    --color-primary: 0 229 255; /* RGB values of #00e5ff */
}

html {
    font-family: font;
    font-size: 18px;
}

body {
    max-width: 1500px;
}

.author-photo {
    width: 35%;
}

.items-stretch {
    align-items: stretch;
}

.gap-15 {
    gap: calc(var(--spacing) * 15);
}

.self-flex-start {
    align-self: flex-start;
}

.logo svg {
    height: var(--text-base);  /* increase this until it matches the nav text height */
    width: auto;
}

.badge-completed {
    background-color: color-mix(in srgb, #cbfbf1 20%, transparent);
    color: #15803d;
}

.badge-not-completed {
    background-color: color-mix(in srgb, #ffe2e2 20%, transparent);
    color: #b91c1c;
}

.dark .badge-completed {
    background-color: color-mix(in srgb, #00bba7 20%, transparent);
    color: #00d5be;
}

.dark .badge-not-completed {
    background-color: color-mix(in srgb, #fb2c36 20%, transparent);
    color: #ff6467;
}


@media (max-width: 760px) {
    header.flex {
        flex-direction: column;
        align-items: center;
    }

    .author-photo {
        order: 1;
        width: 100%;
    }

    .author-desc {
        order: 2;
    }

    .social-links {
        display: flex;
        justify-content: center;
    }
}