<span class="flex cursor-pointer">
  <span
    class="rounded-md border border-primary-400 px-1 py-[1px] text-xs font-normal text-primary-700 dark:border-primary-600 dark:text-primary-400">
    {{ if .Params.completed }}
      {{ if eq .Site.Params.DisplayName "English" }}
        Completed
      {{ end }}
      {{ if eq .Site.Params.DisplayName "Français" }}
        Terminé
      {{ end }}

    {{ else }}
      {{ if eq .Site.Params.DisplayName "English" }}
        Not completed
      {{ end }}
      {{ if eq .Site.Params.DisplayName "Français" }}
        Non terminé
      {{ end }}
  {{ end }}
  </span>
</span>